@import "partials/variables";
@import "partials/mixins";
@import "partials/images";
@import "partials/layout";

body {
    margin: 0;
    font-family: $primary-font;
    font-size: 15px;
}

h1, h2, h3, h4{
    font-family: $header-font;
}

.intro{
    margin-top: -35px;
}

.main > div{
    border-top: 1px solid black;
}

h1 {
    font-size: 3em;
    margin-bottom: 0px;
    /*margin-bottom: 0px;  TODO: WILL COME BACK TO THIS */
    
    @media (max-width: 600px){
        font-size: 2.9em;
        margin-bottom: -5px;
    }
    
    @media (max-width: 480px){
        font-size: 1.8em;
        margin-top: 40px;
    }
}

header h2 {
    margin-top: 0px;
}

header, .summary{
    padding-top: 5px;
    background-color: $headerFooter;
    padding-left: 21px;
    padding-right: 21px;
}

.summary {
    margin-top: -20px;
    padding-bottom: 1px;
}

.preamble{
    padding-bottom: 5px;
}

.preamble h3:before, .main div h3:before, .main div h3:after{
	background-image: none;
}

.preamble h3, .main h3 {
    font-size: 2em;
    margin-bottom: 5px;
    margin-top: 5px;
}

.sidebar{
    background: url($sidebar-image);
    background-position: -14px -12px;
    margin-bottom: 10px;
    overflow: hidden;
	
	ul {
		padding-left: 0;
		
		li {
			list-style: none;
		}
	}
}

a {
    color: $sidebar;
	
	&:visited{
		color:$main-4;
	}
	
	&:hover{
		color: $main-1;
	}
	
	&:active{
		color: $extra-5
	}
}

footer a {
    color: black;
	&:visited{
		color:black;
	}
	
	&:hover{
		color: black;
	}
	
	&:active{
		color:black;
	}
}


