@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy");
/* ==========================================================================
Image Styles
========================================================================== */
header h1:before, header h1:after {
  background-image: url("styleguide/assets/kittens/kitten-head.svg");
  background-size: 80px 80px;
  background-repeat: no-repeat;
  display: inline-block;
  width: 80px;
  height: 82px;
  content: "";
  vertical-align: middle; }
  @media (max-width: 600px) {
    header h1:before, header h1:after {
      background-image: url("styleguide/assets/kittens/kitten-head.svg");
      background-size: 55px 55px;
      background-repeat: no-repeat;
      display: inline-block;
      width: 55px;
      height: 52px;
      content: ""; } }
  @media (max-width: 880px) {
    header h1:before, header h1:after {
      background-image: url("styleguide/assets/kittens/kitten-head.svg");
      background-size: 40px 40px;
      background-repeat: no-repeat;
      display: inline-block;
      width: 40px;
      height: 48px;
      content: ""; } }

/* Section 1: Barbell Kitten */
.preamble:before {
  background-image: url("styleguide/assets/kittens/kitten-barbell.svg");
  background-size: 200px 220px;
  background-repeat: no-repeat;
  display: inline-block;
  width: 210px;
  height: 195px;
  content: ""; }

/* Section 2: Aerobics Kitten */
.explanation:after {
  background-image: url("styleguide/assets/kittens/kitten-leotard.svg");
  background-size: 200px 220px;
  background-repeat: no-repeat;
  display: inline-block;
  width: 210px;
  height: 195px;
  content: ""; }

/* Section 3: Yoga Kitten */
.participation:before {
  background-image: url("styleguide/assets/kittens/kitten-yoga.svg");
  background-size: 200px 220px;
  background-repeat: no-repeat;
  display: inline-block;
  width: 210px;
  height: 195px;
  content: ""; }

/* Section 4: ??? Kitten */
.benefits:after {
  background-image: url("styleguide/assets/kittens/kitten-barbell.svg");
  background-size: 200px 220px;
  background-repeat: no-repeat;
  display: inline-block;
  width: 210px;
  height: 195px;
  content: ""; }

/* Section 5: ??? Kitten */
.requirements:before {
  background-image: url("styleguide/assets/kittens/kitten-leotard.svg");
  background-size: 200px 220px;
  background-repeat: no-repeat;
  display: inline-block;
  width: 210px;
  height: 195px;
  content: ""; }

/* ==========================================================================
Layout Styles
========================================================================== */
.page-wrapper {
  text-align: center;
  position: relative;
  overflow: hidden; }

.wrapper {
  display: flex;
  justify-content: space-around;
  padding-bottom: 20px; }
  @media (max-width: 480px) {
    .wrapper {
      flex-wrap: wrap; } }
  @media (min-width: 880px) {
    .wrapper {
      flex-wrap: wrap;
      align-content: space-around;
      height: 100vh; } }
  .wrapper div {
    width: 25%;
    background: white;
    padding: 10px 15px;
    align-self: center; }
    .wrapper div:first-child {
      transform: rotate(-10deg);
      padding: 0px 35px;
      align-self: flex-start; }
    .wrapper div:last-child {
      transform: rotate(10deg);
      padding: 10px 15px; }
    @media (max-width: 480px) {
      .wrapper div {
        width: 50%;
        transform: rotate(20deg);
        margin-bottom: 30px; }
        .wrapper div:first-child {
          transform: rotate(-20deg); }
        .wrapper div:last-child {
          transform: rotate(-20deg); } }
    @media (min-width: 880px) {
      .wrapper div {
        width: 73%;
        background: white;
        padding: 0px; }
        .wrapper div:first-child {
          transform: rotate(-15deg);
          padding: 0px 20px;
          z-index: 2; }
        .wrapper div:last-child {
          transform: rotate(-15deg);
          padding: 0px; } }

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #ffd528;
  margin-right: -21px;
  margin-left: -21px; }
  @media (min-width: 880px) {
    footer {
      position: relative; } }

@media (min-width: 880px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    border-top: none;
    width: 27%; }

  .design-archives {
    transform: rotate(15deg); }

  .main div {
    display: inline-block;
    width: 97%; }
    .main div h3:after {
      float: right; }

  .intro, .main {
    float: right;
    width: 71%;
    padding: 0px 12px; }

  .preamble {
    width: 98%; }

  .preamble h3:before, .main div h3:before {
    float: left; }

  .preamble:before, .main div:before, .main div:after {
    background-image: none;
    width: 0px;
    height: 0px; }

  /* Kitten SVG's */
  #zen-preamble h3:before {
    background-image: url("styleguide/assets/kittens/kitten-barbell.svg");
    background-size: 200px 220px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 210px;
    height: 195px;
    content: "";
    margin-top: -27px; }

  #zen-explanation h3:after {
    background-image: url("styleguide/assets/kittens/kitten-leotard.svg");
    background-size: 200px 220px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 210px;
    height: 195px;
    content: ""; }

  #zen-participation h3:before {
    background-image: url("styleguide/assets/kittens/kitten-yoga.svg");
    background-size: 200px 220px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 210px;
    height: 195px;
    content: ""; }

  #zen-benefits h3:after {
    background-image: url("styleguide/assets/kittens/kitten-barbell.svg");
    background-size: 200px 220px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 210px;
    height: 195px;
    content: "";
    margin-top: -27px; }

  #zen-requirements h3:before {
    background-image: url("styleguide/assets/kittens/kitten-leotard.svg");
    background-size: 200px 220px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 210px;
    height: 195px;
    content: ""; } }
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 15px; }

h1, h2, h3, h4 {
  font-family: "Luckiest Guy", cursive; }

.intro {
  margin-top: -35px;
  padding: 0px 20px; }

.main > div {
  border-top: 1px solid black;
  padding: 0px 20px; }

h1 {
  font-size: 3em;
  margin-bottom: 0px; }
  @media (max-width: 600px) {
    h1 {
      font-size: 2.9em;
      margin-bottom: 15px; } }
  @media (max-width: 480px) {
    h1 {
      font-size: 1.8em;
      margin-top: 40px; } }

header h2 {
  margin-top: -25px; }

header, .summary {
  padding-top: 5px;
  background-color: #ffd528;
  margin-right: -21px;
  margin-left: -21px;
  padding-left: 21px;
  padding-right: 21px; }

.summary {
  margin-top: -20px;
  padding-bottom: 1px; }

.preamble h3:before, .main div h3:before, .main div h3:after {
  background-image: none; }

.sidebar {
  background-color: #446cb4;
  margin-bottom: 10px;
  overflow: hidden; }
  .sidebar ul {
    padding-left: 0; }
    .sidebar ul li {
      list-style: none; }

a {
  color: #446cb4; }
  a:visited {
    color: #65bc4c; }
  a:hover {
    color: #e284b6; }
  a:active {
    color: #db4646; }

/*# sourceMappingURL=style.css.map */
