@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy");
/* ==========================================================================
Image Styles
========================================================================== */
@media (min-width: 880px) {
  #zen-preamble h3:before {
    background-image: url("img/pattern1.svg");
    background-size: 180px 180px;
    background-repeat: repeat;
    display: inline-block;
    width: 325px;
    margin-left: 0px;
    padding: 0 0;
    content: "";
    position: absolute;
    top: 0;
    bottom: 3px;
    left: 0; }
  #zen-preamble h3:after {
    background-image: url("styleguide/assets/kittens/kitten-barbell.svg");
    background-size: 325px 325px;
    width: 325px;
    height: 325px;
    position: absolute;
    left: 0;
    top: calc(50% - (325px/2));
    content: ""; }

  #zen-explanation h3:after {
    background-image: url("img/pattern2.svg");
    background-size: 180px 180px;
    background-repeat: repeat;
    display: inline-block;
    width: 325px;
    margin-left: 0px;
    padding: 0 0;
    content: "";
    position: absolute;
    top: 3px;
    bottom: 3px;
    right: 0; }
  #zen-explanation h3:before {
    background-image: url("styleguide/assets/kittens/kitten-leotard.svg");
    background-size: 325px 325px;
    width: 325px;
    height: 325px;
    position: absolute;
    right: 0;
    top: calc(50% - (325px/2));
    content: "";
    z-index: 3; }

  #zen-participation h3:before {
    background-image: url("img/pattern5.svg");
    background-size: 180px 180px;
    background-repeat: repeat;
    display: inline-block;
    width: 325px;
    margin-left: 0px;
    padding: 0 0;
    content: "";
    position: absolute;
    top: 4px;
    bottom: 3px;
    left: 0; }
  #zen-participation h3:after {
    background-image: url("styleguide/assets/kittens/kitten-yoga.svg");
    background-size: 325px 325px;
    width: 325px;
    height: 325px;
    position: absolute;
    left: 0;
    top: calc(50% - (325px/2));
    content: ""; }

  #zen-benefits h3:after {
    background-image: url("img/pattern4.svg");
    background-size: 180px 180px;
    background-repeat: repeat;
    display: inline-block;
    width: 325px;
    margin-left: 0px;
    padding: 0 0;
    content: "";
    position: absolute;
    top: 4px;
    bottom: 3px;
    right: 0; }
  #zen-benefits h3:before {
    background-image: url("img/kitten-kettlebell.svg");
    background-size: 325px 325px;
    width: 325px;
    height: 325px;
    position: absolute;
    right: 0;
    top: calc(50% - (325px/2));
    content: "";
    z-index: 3; }

  #zen-requirements h3:before {
    background-image: url("img/pattern3.svg");
    background-size: 180px 180px;
    background-repeat: repeat;
    display: inline-block;
    width: 325px;
    margin-left: 0px;
    padding: 0 0;
    content: "";
    position: absolute;
    top: 3px;
    bottom: 0;
    left: 0; }
  #zen-requirements h3:after {
    background-image: url("img/kitten-dumbbell.svg");
    background-size: 325px 325px;
    width: 325px;
    height: 325px;
    position: absolute;
    left: 0;
    top: calc(50% - (325px/2));
    content: ""; } }
/* Section 1: Barbell Kitten */
.preamble {
  position: relative;
  text-align: left; }
  .preamble:before {
    background-image: url("img/pattern1.svg");
    background-size: 180px 180px;
    background-repeat: repeat;
    display: inline-block;
    width: 108%;
    margin-left: -20px;
    padding: 0 0;
    content: "";
    height: 300px; }
    @media (max-width: 600px) {
      .preamble:before {
        height: 175px; } }
  .preamble:after {
    background-image: url("styleguide/assets/kittens/kitten-barbell.svg");
    background-size: 300px 300px;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 0;
    left: calc(50% - (300px/2));
    content: ""; }
    @media (max-width: 600px) {
      .preamble:after {
        background-image: url("styleguide/assets/kittens/kitten-barbell.svg");
        background-size: 175px 175px;
        width: 175px;
        height: 175px;
        position: absolute;
        top: 0;
        left: calc(50% - (175px/2));
        content: ""; } }

/* Section 2: Aerobics Kitten */
.explanation {
  position: relative;
  text-align: right; }
  .explanation:before {
    background-image: url("img/pattern2.svg");
    background-size: 180px 180px;
    background-repeat: repeat;
    display: inline-block;
    width: 108%;
    margin-left: -20px;
    padding: 0 0;
    content: "";
    height: 300px; }
    @media (max-width: 600px) {
      .explanation:before {
        height: 175px; } }
  .explanation:after {
    background-image: url("styleguide/assets/kittens/kitten-leotard.svg");
    background-size: 300px 300px;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 0;
    left: calc(50% - (300px/2));
    content: "";
    height: 300px; }
    @media (max-width: 600px) {
      .explanation:after {
        background-image: url("styleguide/assets/kittens/kitten-leotard.svg");
        background-size: 175px 175px;
        width: 175px;
        height: 175px;
        position: absolute;
        top: 0;
        left: calc(50% - (175px/2));
        content: "";
        height: 175px; } }

/* Section 3: Yoga Kitten */
.participation {
  position: relative;
  text-align: left; }
  .participation:before {
    background-image: url("img/pattern5.svg");
    background-size: 180px 180px;
    background-repeat: repeat;
    display: inline-block;
    width: 108%;
    margin-left: -20px;
    padding: 0 0;
    content: "";
    height: 300px; }
    @media (max-width: 600px) {
      .participation:before {
        height: 175px; } }
  .participation:after {
    background-image: url("styleguide/assets/kittens/kitten-yoga.svg");
    background-size: 300px 300px;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 0;
    left: calc(50% - (300px/2));
    content: "";
    height: 300px; }
    @media (max-width: 600px) {
      .participation:after {
        background-image: url("styleguide/assets/kittens/kitten-yoga.svg");
        background-size: 175px 175px;
        width: 175px;
        height: 175px;
        position: absolute;
        top: 0;
        left: calc(50% - (175px/2));
        content: "";
        height: 175px; } }

/* Section 4: Kettlebell Kitten */
.benefits {
  position: relative;
  text-align: right; }
  .benefits:before {
    background-image: url("img/pattern4.svg");
    background-size: 180px 180px;
    background-repeat: repeat;
    display: inline-block;
    width: 108%;
    margin-left: -20px;
    padding: 0 0;
    content: "";
    height: 300px; }
    @media (max-width: 600px) {
      .benefits:before {
        height: 175px; } }
  .benefits:after {
    background-image: url("img/kitten-kettlebell.svg");
    background-size: 300px 300px;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 0;
    left: calc(50% - (300px/2));
    content: ""; }
    @media (max-width: 600px) {
      .benefits:after {
        background-image: url("img/kitten-kettlebell.svg");
        background-size: 175px 175px;
        width: 175px;
        height: 175px;
        position: absolute;
        top: 0;
        left: calc(50% - (175px/2));
        content: ""; } }

/* Section 5: Dumbbell Kitten */
.requirements {
  position: relative;
  text-align: left; }
  .requirements:before {
    background-image: url("img/pattern3.svg");
    background-size: 180px 180px;
    background-repeat: repeat;
    display: inline-block;
    width: 108%;
    margin-left: -20px;
    padding: 0 0;
    content: "";
    height: 300px; }
    @media (max-width: 600px) {
      .requirements:before {
        height: 175px; } }
  .requirements:after {
    background-image: url("img/kitten-dumbbell.svg");
    background-size: 300px 300px;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 0;
    left: calc(50% - (300px/2));
    content: ""; }
    @media (max-width: 600px) {
      .requirements:after {
        background-image: url("img/kitten-dumbbell.svg");
        background-size: 175px 175px;
        width: 175px;
        height: 175px;
        position: absolute;
        top: 0;
        left: calc(50% - (175px/2));
        content: ""; } }

/* ==========================================================================
Layout Styles
========================================================================== */
.page-wrapper {
  text-align: center;
  position: relative;
  overflow: hidden; }

.wrapper {
  display: flex;
  justify-content: space-around;
  padding-bottom: 70px;
  /*----- SIDEBAR -----*/ }
  @media (max-width: 480px) {
    .wrapper {
      flex-wrap: wrap; } }
  @media (min-width: 880px) {
    .wrapper {
      flex-wrap: wrap;
      align-content: space-around;
      height: 100vh; } }
  .wrapper div {
    width: 25%;
    background: white;
    border: 5px solid #446cb4;
    padding: 10px 15px;
    align-self: center;
    transition: transform .2s linear; }
    .wrapper div:first-child {
      -webkit-transform: rotate(-10deg);
      -moz-transform: rotate(-10deg);
      -o-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
      transform: rotate(-10deg);
      padding: 0px 35px;
      align-self: flex-start;
      transition: transform .2s linear; }
      .wrapper div:first-child:hover {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg); }
    .wrapper div:last-child {
      -webkit-transform: rotate(10deg);
      -moz-transform: rotate(10deg);
      -o-transform: rotate(10deg);
      -ms-transform: rotate(10deg);
      transform: rotate(10deg);
      padding: 10px 15px;
      transition: transform .2s linear; }
      .wrapper div:last-child:hover {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg); }
    @media (max-width: 480px) {
      .wrapper div {
        width: 50%;
        -webkit-transform: rotate(20deg);
        -moz-transform: rotate(20deg);
        -o-transform: rotate(20deg);
        -ms-transform: rotate(20deg);
        transform: rotate(20deg);
        margin-bottom: 30px;
        transition: transform .2s linear; }
        .wrapper div:hover {
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
          transform: rotate(0deg);
          z-index: 4; }
        .wrapper div:first-child {
          -webkit-transform: rotate(-20deg);
          -moz-transform: rotate(-20deg);
          -o-transform: rotate(-20deg);
          -ms-transform: rotate(-20deg);
          transform: rotate(-20deg);
          transition: transform .2s linear; }
          .wrapper div:first-child:hover {
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            transform: rotate(0deg);
            z-index: 4; }
        .wrapper div:last-child {
          -webkit-transform: rotate(-20deg);
          -moz-transform: rotate(-20deg);
          -o-transform: rotate(-20deg);
          -ms-transform: rotate(-20deg);
          transform: rotate(-20deg);
          transition: transform .2s linear; }
          .wrapper div:last-child:hover {
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            transform: rotate(0deg);
            z-index: 4; } }
    @media (min-width: 880px) {
      .wrapper div {
        width: 73%;
        background: white;
        padding: 0px;
        transition: transform .2s linear; }
        .wrapper div:hover {
          transform: rotate(0deg);
          z-index: 4; }
        .wrapper div:first-child {
          transform: rotate(-15deg);
          padding: 0px 20px;
          z-index: 2;
          transition: transform .2s linear; }
          .wrapper div:first-child:hover {
            transform: rotate(0deg);
            z-index: 4; }
        .wrapper div:last-child {
          transform: rotate(-15deg);
          padding: 0px;
          transition: transform .2s linear; }
          .wrapper div:last-child:hover {
            transform: rotate(0deg);
            z-index: 4; } }

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #ffd528; }
  @media (min-width: 880px) {
    footer {
      position: relative; } }

a.zen-validate-html, a.zen-validate-css, a.zen-license, a.zen-accessibility, a.zen-github {
  position: relative;
  z-index: 0;
  font-family: "Luckiest Guy", cursive;
  margin-right: 75px; }
  @media (max-width: 480px) {
    a.zen-validate-html, a.zen-validate-css, a.zen-license, a.zen-accessibility, a.zen-github {
      margin-right: 35px; } }
  @media (min-width: 480px) and (max-width: 600px) {
    a.zen-validate-html, a.zen-validate-css, a.zen-license, a.zen-accessibility, a.zen-github {
      margin-right: 55px; } }

a.zen-accessibility {
  bottom: 3px;
  right: 17px; }
  @media (max-width: 480px) {
    a.zen-accessibility {
      right: 13px; } }

a.zen-validate-html {
  margin-left: -30px; }

a.zen-license {
  top: 7px;
  left: 9px; }

a.zen-github {
  margin-right: 0px; }

.zen-validate-html:hover:before {
  border-bottom: 35px solid #eeb6d4; }

.zen-validate-css:hover:before {
  background: #708fc9; }

.zen-license:hover:before {
  border-bottom: 35px solid #8cce7a; }

.zen-accessibility:hover:before {
  background: #9ce0f8; }

.zen-github:hover:before {
  background: #e57c7c; }

.zen-validate-html:before {
  content: "";
  display: block;
  padding: 0;
  top: -10px;
  right: -21px;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 35px solid #e284b6;
  background: none;
  border-top: none;
  position: absolute;
  z-index: -1;
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  transform: rotate(-10deg); }

.zen-validate-css:before {
  content: "";
  top: -6px;
  right: 7px;
  display: block;
  width: 40px;
  height: 40px;
  background: #446cb4;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -o-border-radius: 50px;
  -ms-border-radius: 50px;
  border-radius: 50px;
  z-index: -1;
  border: none;
  position: absolute; }
  @media (max-width: 480px) {
    .zen-validate-css:before {
      right: -5px; } }

.zen-license:before {
  content: "";
  top: -15px;
  right: -12px;
  display: block;
  background: none;
  border-top: none;
  position: absolute;
  border-bottom: 35px solid #65bc4c;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  height: 0;
  width: 45px;
  z-index: -1;
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  -o-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  transform: rotate(5deg); }
  @media (max-width: 480px) {
    .zen-license:before {
      right: -10px;
      width: 30px; } }

.zen-accessibility:before {
  content: "";
  display: block;
  top: -16px;
  left: 11px;
  width: 34px;
  height: 49px;
  padding-top: 10px;
  background: #63cdf4;
  z-index: -1;
  position: absolute;
  -webkit-transform: rotate(114deg);
  -moz-transform: rotate(114deg);
  -o-transform: rotate(114deg);
  -ms-transform: rotate(114deg);
  transform: rotate(114deg); }

.zen-github:before {
  content: "";
  top: -11px;
  right: -45px;
  display: block;
  border: 0;
  position: absolute;
  width: 90px;
  height: 45px;
  background: #db4646;
  z-index: -1;
  -moz-border-radius: 100px / 50px;
  -webkit-border-radius: 100px / 50px;
  border-radius: 100px / 50px;
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  transform: rotate(15deg); }
  @media (max-width: 480px) {
    .zen-github:before {
      width: 70px;
      right: -34px; } }

.main > div > p, .intro > div > p {
  padding: 0px 30px; }

@media (max-width: 880px) {
  .main > div > p:last-child, .intro > div > p:last-child {
    padding-bottom: 30px; }

  .preamble > div, .main > div {
    text-align: left; } }
@media (min-width: 880px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    border-top: none;
    width: 27%; }

  .design-archives {
    transform: rotate(15deg);
    z-index: 0; }

  .main div {
    display: inline-block;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%; }
    .main div h3:after {
      float: right; }

  .intro, .main {
    float: right;
    width: 73%; }

  #zen-preamble {
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%; }

  .preamble h3:before, .main div h3:before {
    float: left; }

  .preamble:before, .preamble:after, .main div:before, .main div:after {
    background-image: none;
    width: 0px;
    height: 0px; }

  .preamble > *, .participation > *, .requirements > * {
    margin-left: 325px; }

  .explanation > *, .benefits > * {
    margin-right: 325px; }

  #zen-benefits {
    padding-top: 7%;
    padding-bottom: 7%; }

  .preamble, .explanation, .participation, .benefits {
    background: linear-gradient(to right, #fff 0%, #fff 29%, #446cb4 34%, #446cb4 66%, #fff 71%, #fff 100%) left bottom no-repeat;
    background-size: 100% 3px;
    margin-bottom: -3px; } }
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 15px; }

h1, h2, h3, h4 {
  font-family: "Luckiest Guy", cursive; }

.intro {
  margin-top: -35px; }

h1 {
  font-size: 3em;
  margin-bottom: 0px; }
  @media (max-width: 600px) {
    h1 {
      margin-bottom: -5px;
      margin-top: 45px;
      font-size: 2.4em; } }

header h2 {
  margin-top: 0px; }

header, .summary {
  padding-top: 5px;
  background-color: #ffd528;
  padding-left: 21px;
  padding-right: 21px; }

.summary {
  margin-top: -20px;
  padding-bottom: 1px; }
  @media (max-width: 880px) {
    .summary {
      margin-bottom: -25px; } }

.preamble {
  padding-bottom: 5px; }

.preamble h3:before, .main div h3:before, .main div h3:after {
  background-image: none; }

.preamble h3, .main h3 {
  font-size: 2em;
  margin-bottom: 5px;
  margin-top: 35px;
  padding: 0px 30px; }
  @media (min-width: 880px) {
    .preamble h3, .main h3 {
      margin-top: 5px; } }

.sidebar {
  background: url("styleguide/assets/Pattern.svg");
  background-position: -15px -12px;
  margin-bottom: 10px;
  overflow: hidden;
  background-size: 260px; }
  .sidebar ul {
    padding-left: 0; }
    .sidebar ul li {
      list-style: none; }

a {
  color: #446cb4; }
  a:visited {
    color: #65bc4c; }
  a:hover {
    color: #e284b6; }
  a:active {
    color: #db4646; }

footer a {
  color: black; }
  footer a:visited {
    color: black; }
  footer a:hover {
    color: black; }
  footer a:active {
    color: black; }

/*# sourceMappingURL=style.css.map */
