
@media (min-width: 1279px) {
    .page-wrapper {
        display:flex;
        flex-wrap:wrap;
        flex-direction:row;

        .sidebar {    
        flex: 1 0 25%;
        order:1;
        position:fixed;    
        }
        .intro {
            order:2;
            flex: 1 0 75%;
            padding-left:25%;
        }
        .main {
            order:3;
            flex: 1 0 75%;
            padding-left:25%;
        }
    }
}
@media (max-width: 1278px) {
    .page-wrapper {
        display:flex;
        flex-wrap:wrap;
        flex-direction:row;
        footer {
            order:3;
        }
        .sidebar{
            order:1;
        }
    }
}
