/* ==========================================================================
Image Styles
========================================================================== */

@include breakpoint(large){
    #zen-preamble h3 {
        &:before {
            @include patterns($pattern1, $pattern-size, $pattern-width-lg, $pattern-margin-lg);
            position: absolute;
            top: 0;
            bottom: 3px;
            left:0;
        }
        &:after{
            @include images($image1, $image-width-lg, $image-height-lg, left);
        }
    }

    #zen-explanation h3 {
        &:after{
            @include patterns($pattern2, $pattern-size, $pattern-width-lg, $pattern-margin-lg);
            position: absolute;
            top: 3px;
            bottom: 3px;
            right:0;
        }
        &:before{
            @include images($image2, $image-width-lg, $image-height-lg, right);
            z-index:3;
        }
    }

    #zen-participation h3 {
        &:before{
            @include patterns($pattern5, $pattern-size, $pattern-width-lg, $pattern-margin-lg);
            position: absolute;
            top: 4px;
            bottom: 3px;
            left:0;

        }
        &:after {
            @include images($image3, $image-width-lg, $image-height-lg, left);
        }
    }

    #zen-benefits h3 {
       &:after {
            @include patterns($pattern4, $pattern-size, $pattern-width-lg, $pattern-margin-lg);
            position: absolute;
            top: 4px;
            bottom: 3px;
            right:0;
       }
       &:before {
           @include images($image4, $image-width-lg, $image-height-lg, right);
           z-index:3;
       }
       
    }

    #zen-requirements h3 {
        &:before {
            @include patterns($pattern3, $pattern-size, $pattern-width-lg, $pattern-margin-lg);
            position: absolute;
            top: 3px;
            bottom: 0;
            left:0;
        }
        &:after{
            @include images($image5, $image-width-lg, $image-height-lg, left);
        }
    }
}

/* Section 1: Barbell Kitten */
.preamble {
    position:relative;
    text-align:left;
    &:before {
        @include patterns($pattern1, $pattern-size, $pattern-width, $pattern-margin);
        height: $image-height;
            @include breakpoint(medium){
                height: $image-height-sm;
            }
    }
    &:after{
        @include images($image1, $image-width, $image-height, top);
            @include breakpoint(medium){
                @include images($image1, $image-width-sm, $image-height-sm, top);
            }
    }
}

/* Section 2: Aerobics Kitten */
.explanation{
    position:relative;
    text-align:right;
    &:before {
        @include patterns($pattern2, $pattern-size, $pattern-width, $pattern-margin);
        height: $image-height;
            @include breakpoint(medium){
                height: $image-height-sm;
            }
    }
    &:after{
        @include images($image2, $image-width, $image-height, top);
        height: $image-height;
            @include breakpoint(medium){
                @include images($image2, $image-width-sm, $image-height-sm, top);
                height: $image-height-sm;
            }
    }
}

/* Section 3: Yoga Kitten */
.participation {
    position:relative;
    text-align:left;
    &:before {
        @include patterns($pattern5, $pattern-size, $pattern-width, $pattern-margin);
        height: $image-height;
            @include breakpoint(medium){
                height: $image-height-sm;
            }
    }
    &:after{
        @include images($image3, $image-width, $image-height, top);
        height: $image-height;
            @include breakpoint(medium){
                @include images($image3, $image-width-sm, $image-height-sm, top);
                height: $image-height-sm;
            }
    }
}

/* Section 4: Kettlebell Kitten */
.benefits {
    position:relative;
    text-align:right;
    &:before {
        @include patterns($pattern4, $pattern-size, $pattern-width, $pattern-margin);
        height: $image-height;
            @include breakpoint(medium){
                height: $image-height-sm;
            }
    }
    &:after{
        @include images($image4, $image-width, $image-height, top);
            @include breakpoint(medium){
                @include images($image4, $image-width-sm, $image-height-sm, top);
            }
    }
}

/* Section 5: Dumbbell Kitten */
.requirements {
    position:relative;
    text-align:left;
    &:before {
        @include patterns($pattern3, $pattern-size, $pattern-width, $pattern-margin);
        height: $image-height;
            @include breakpoint(medium){
                height: $image-height-sm;
            }
    }
    &:after{
        @include images($image5, $image-width, $image-height, top);
            @include breakpoint(medium){
                @include images($image5, $image-width-sm, $image-height-sm, top);
            }
    }
} 
