/* ==========================================================================
Image Styles
========================================================================== */

/* TODO: ADD IN PATTERN/MAKE HEADING LOOK FANCIER
header h1:before, header h1:after {
    @include images($logo, $logoW, $logoH, $logoW2, $logoH2);
    vertical-align: middle;
    
    @media(max-width:600px){
        @include images($logo, 55px, 55px, 55px, 52px);
    }
    
    @media (max-width: 480px){
        @include images($logo, 40px, 40px, 40px, 48px);
    }
}*/

@media (min-width:880px){
    #zen-preamble h3 {
        &:before {
            @include patterns($pattern1, $pattern-size, $pattern-width-lg, $pattern-margin-lg);
            position: absolute;
            top: 0;
            bottom: 0;
            left:0;
        }
        &:after{
            @include images($image1, $image-width-lg, $image-height-lg, left);
        }
    }

    #zen-explanation h3 {
        &:after{
            @include patterns($pattern2, $pattern-size, $pattern-width-lg, $pattern-margin-lg);
            position: absolute;
            top: 0;
            bottom: 0;
            right:0;
        }
        &:before{
            @include images($image2, $image-width-lg, $image-height-lg, right);
            z-index:3;
        }
    }

    #zen-participation h3 {
        &:before{
            @include patterns($pattern1, $pattern-size, $pattern-width-lg, $pattern-margin-lg);
            position: absolute;
            top: 0;
            bottom: 0;
            left:0;

        }
        &:after {
            @include images($image3, $image-width-lg, $image-height-lg, left);
        }
    }

    #zen-benefits h3 {
       &:after {
            @include patterns($pattern3, $pattern-size, $pattern-width-lg, $pattern-margin-lg);
            position: absolute;
            top: 0;
            bottom: 0;
            right:0;
       }
       &:before {
           @include images($image4, $image-width-lg, $image-height-lg, right);
           z-index:3;
       }
       
    }

    #zen-requirements h3 {
        &:before {
            @include patterns($pattern1, $pattern-size, $pattern-width-lg, $pattern-margin-lg);
            position: absolute;
            top: 0;
            bottom: 0;
            left:0;
        }
        &:after{
            @include images($image2, $image-width-lg, $image-height-lg, left);
        }
    }
}

/* Section 1: Barbell Kitten */
.preamble {
    position:relative;
    &:before {
        @include patterns($pattern1, $pattern-size, $pattern-width, $pattern-margin);
        height: $image-height;
        @media(max-width:600px){
            @include patterns($pattern1, $pattern-size, $pattern-width, $pattern-margin);
            height: $image-height-sm;
        }
    }
    &:after{
        @include images($image1, $image-width, $image-height, top);
        @media(max-width:600px){
            @include images($image1, $image-width-sm, $image-height-sm, top);
        }
    }
}

/* Section 2: Aerobics Kitten */
.explanation{
    position:relative;
    &:before {
        @include patterns($pattern2, $pattern-size, $pattern-width, $pattern-margin);
        height: $image-height;
        @media(max-width:600px){
            @include patterns($pattern2, $pattern-size, $pattern-width, $pattern-margin);
            height: $image-height-sm;
        }
    }
    &:after{
        @include images($image2, $image-width, $image-height, top);
        height: $image-height;
        @media(max-width:600px){
            @include images($image2, $image-width-sm, $image-height-sm, top);
            height: $image-height-sm;
        }
    }
}

/* Section 3: Yoga Kitten */
.participation {
    position:relative;
    &:before {
        @include patterns($pattern1, $pattern-size, $pattern-width, $pattern-margin);
        height: $image-height;
        @media(max-width:600px){
            @include patterns($pattern1, $pattern-size, $pattern-width, $pattern-margin);
            height: $image-height-sm;
        }
    }
    &:after{
        @include images($image3, $image-width, $image-height, top);
        height: $image-height;
        @media(max-width:600px){
            @include images($image3, $image-width-sm, $image-height-sm, top);
            height: $image-height-sm;
        }
    }
}

/* Section 4: Kettlebell Kitten */
.benefits {
    position:relative;
    &:before {
        @include patterns($pattern3, $pattern-size, $pattern-width, $pattern-margin);
        height: $image-height;
        @media(max-width:600px){
            @include patterns($pattern3, $pattern-size, $pattern-width, $pattern-margin);
            height: $image-height-sm;
        }
    }
    &:after{
        @include images($image4, $image-width, $image-height, top);
        @media(max-width:600px){
            @include images($image4, $image-width-sm, $image-height-sm, top);
        }
    }
}

/* Section 5: ??? Kitten */
.requirements {
    position:relative;
    &:before {
        @include patterns($pattern1, $pattern-size, $pattern-width, $pattern-margin);
        height: $image-height;
        @media(max-width:600px){
            @include patterns($pattern1, $pattern-size, $pattern-width, $pattern-margin);
            height: $image-height-sm;
        }
    }
    &:after{
        @include images($image2, $image-width, $image-height, top);
        @media(max-width:600px){
            @include images($image2, $image-width-sm, $image-height-sm, top);
        }
    }
} 
