/* ==========================================================================
Layout Styles
========================================================================== */
.page-wrapper {
    text-align: center;
    position: relative;
    overflow:hidden;
}

.wrapper {
    display: flex;
    justify-content: space-around;
    padding-bottom: 70px;
	
	@media (max-width:480px){
		flex-wrap: wrap;
	}
        
	@media (min-width:880px) {
        flex-wrap: wrap;
        align-content: space-around;
        height: 100vh;
	}
	
	/*----- SIDEBAR -----*/
	div {
		width: 25%;
		background: white;
		padding: 10px 15px;
		align-self: center;
		transition: transform .2s linear;
		&:first-child {
			@include prefix(transform, "rotate(-10deg)");
			padding: 0px 35px;
			align-self: flex-start;
                        transition: transform .2s linear;
                        &:hover{
                            @include prefix(transform, "rotate(0deg)");
                        }
		}
		
		&:last-child {
			@include prefix(transform, "rotate(10deg)");
                        padding: 10px 15px;
                        transition: transform .2s linear;
                        &:hover{
                            @include prefix(transform, "rotate(0deg)");
                        }
		}
                
		@media (max-width:480px){
			width: 50%;
			@include prefix(transform, "rotate(20deg)");
			margin-bottom: 30px;
                        transition: transform .2s linear;
                        &:hover{
                            @include prefix(transform, "rotate(0deg)");
                        }
			
			&:first-child {
				@include prefix(transform, "rotate(-20deg)");
                                transition: transform .2s linear;
                                &:hover{
                                    @include prefix(transform, "rotate(0deg)");
                                }
			}
			
			&:last-child {
				@include prefix(transform, "rotate(-20deg)");
                                transition: transform .2s linear;
                                &:hover{
                                    @include prefix(transform, "rotate(0deg)");
                                }
			}
		}
		
		@media (min-width:880px){
			width: 73%;
			background: white;
			padding: 0px;
                        transition: transform .2s linear;
                        &:hover{
                            transform: rotate(0deg);
                        }
			&:first-child {
				transform: rotate(-15deg);
				padding: 0px 20px;
				z-index:2;
                                transition: transform .2s linear;
                                &:hover{
                                    transform: rotate(0deg);
                                }
			}
			
			&:last-child {
                            transform: rotate(-15deg);
                            padding: 0px;
                            transition: transform .2s linear;
                            &:hover{
                                transform: rotate(0deg);
                            }
			}
		}
	}
} 

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: $headerFooter;
    margin-right: -21px;
    margin-left: -21px;
	
	@media (min-width:880px) {
		position: relative;
	}
}

a.zen-validate-html, a.zen-validate-css, a.zen-license, a.zen-accessibility, a.zen-github {
    position: relative;
    z-index: 0;
    font-family: $header-font;
    size: 1.4rem;
    margin-right: 75px;
    @media (max-width:480px){
        margin-right: 35px;
    }
    @media (min-width: 480px) and (max-width: 600px){
        margin-right: 55px;
    }
}

a.zen-accessibility{
    bottom: 3px;
    right: 17px;
    
    @media (max-width: 480px){
        right: 13px;
    }
}

a.zen-validate-html {
    margin-left: -30px;
}

a.zen-license{
    top: 7px;
    left: 9px;
}

a.zen-github {
    margin-right: 0px;
}

.zen-validate-html:hover:before{
    border-bottom: 35px solid #eeb6d4;
}

.zen-validate-css:hover:before{
     background:#708fc9;  
}

.zen-license:hover:before{
    border-bottom: 35px solid #8cce7a;
}

.zen-accessibility:hover:before{
    background: #9ce0f8;
}

.zen-github:hover:before{
    background:#e57c7c;
}


.zen-validate-html:before{
    content: "";
    display: block;
    padding: 0;
    top: -10px;
    right: -21px;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 35px solid #e284b6;
    background: none;
    border-top: none;
    position: absolute;
    z-index: -1;
	@include prefix(transform, "rotate(-10deg)");
}

.zen-validate-css:before{
    content: "";
    top: -6px;
    right: 7px;
    display: block;
    width: 40px;
    height: 40px;
    background: #446cb4;
	@include prefix(border-radius, "50px");
    z-index: -1;
    border: none;
    position: absolute;
    
    @media (max-width: 480px){
        right: -5px;
    }
}

.zen-license:before{
    content: "";
    top: -15px;
    right: -12px;
    display: block;
    background: none;
    border-top: none;
    position: absolute;
    border-bottom: 35px solid #65bc4c;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    height: 0;
    width: 45px;
    z-index: -1;
	@include prefix(transform, "rotate(5deg)");
    
    @media (max-width: 480px){
        right: -10px;
        width: 30px;
    }
}

.zen-accessibility:before{
    content: "";
    display: block;
    top: -16px;
    left: 11px;
    width: 34px;
    height: 49px;
    padding-top: 10px;
    background: #63cdf4;
    z-index: -1;
    position: absolute;
	@include prefix(transform, "rotate(114deg)");
}

.zen-github:before{
    content: "";
    top: -11px;
    right: -45px;
    display: block;
    border: 0;
    position: absolute;
    width: 90px;
    height: 45px;
    background: #db4646;
    z-index: -1;
    -moz-border-radius: 100px / 50px;
    -webkit-border-radius: 100px / 50px;
    border-radius: 100px / 50px;
	@include prefix(transform, "rotate(15deg)");
    
    @media (max-width: 480px){
        width: 70px;
        right: -34px;
    }
}

.main > div > p, .intro > div > p {
    padding: 0px 20px;
}

@media (min-width:880px){
    .sidebar{
        position: fixed;
        top: 0;
        left: 0;
        border-top: none;
        width: 27%;
    }

    .design-archives {
        transform: rotate(15deg);
    }
    
    .main { 
		div {
        	display: inline-block;
        	width:100%;
			h3:after {
				float: right;
			}
		}
    }
    
    .intro, .main {
        float: right;
        width: 73%;
    }
    
    .preamble{
        width: 100%;
    }
    
    .preamble h3:before, .main div h3:before{
        float: left;
    }
    
    .preamble:before, .preamble:after, .main div:before, .main div:after{
        background-image: none;
        width: 0px;
        height: 0px;
    }
    
}