@mixin images($url, $width, $height, $width2, $height2){
    background-image: url($url);
    background-size: $width $height;
    background-repeat: no-repeat;
    display: inline-block;
    width: $width2;
    height: $height2;
    content: "";
}