// DEFINES IMG URL, PATTERN BACKGROUND URL, AND WIDTH AND HEIGHT OF IMAGE
@mixin patterns($patternURL, $patternSize, $patternWidth, $pattern-margin){
    background-image: url($patternURL);
    background-size: $patternSize $patternSize;
    background-repeat: repeat;
    display: inline-block;
    width: $patternWidth;
    margin-left: $pattern-margin;
    padding: 0 0;
    content: "";
}

@mixin images ($kittenURL, $width, $height, $position){
    background-image: url($kittenURL);
    background-size: $width $height;
    width: $width;
    height: $height;
    position: absolute;
    @if $position == "left" {
        left: 0;
        top: calc(50% - (#{$width}/2));
    }
    @else if $position == "right" {
        right: 0;
        top: calc(50% - (#{$width}/2));
    }
    @else if $position == "top" {
        top: 0;
        left: calc(50% - (#{$width}/2));
    }
    @else if $position == "bottom" {
        top: 0;
        right: calc(50% - (#{$width}/2));
    }
    content: "";
}

// ADDS PREFIXES TO CSS
@mixin prefix($property, $value) { 
    @each $prefix in $prefixes {
        #{$prefix}#{$property}: #{$value};
    }
}

// DEFINES BREAKPOINTS FOR SMALL/MEDIUM/LARGE SIZES
@mixin breakpoint($break) {
	@if $break == large {
		@media (min-width: $break-lg) { @content; }
	}
	@else if $break == medium {
		@media (max-width: $break-md) { @content; }
	}
	@else if $break == small {
		@media (max-width: $break-sm) { @content; }
	} @else {
		@media ($break) { @content; }
	}
}   