//Images
$logo: "styleguide/assets/kittens/kitten-head.svg";
$image1: "styleguide/assets/kittens/kitten-barbell.svg";
$image2: "styleguide/assets/kittens/kitten-leotard.svg";
$image3: "styleguide/assets/kittens/kitten-yoga.svg";

$imageW: 200px;
$imageH: 220px;
$imageW2: 210px;
$imageH2: 195px;
$logoW: 80px;
$logoH: 80px;
$logoW2: 80px;
$logoH2: 82px;

// Font
@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');
$primary-font: 'Open Sans', sans-serif;
$header-font: 'Luckiest Guy', cursive;

// Our colors
$main-1: #e284b6; //pink
$sidebar: #446cb4; //blue
$headerFooter: #ffd528; //yellow
$main-4: #65bc4c; //green

$extra-1: #63cdf4;
$extra-2: #9072b3;
$extra-3: #ec2026;
$extra-4: #fbaa31;
$extra-5: #db4646; //red
$extra-6: #66c3a2;
$extra-7: #a0d3a2;
$extra-8: #cae9e6;
$extra-9: #925223;
$extra-10: #85a1d3;
$extra-11: #f9f5cf;
$extra-12: #fef2dc;