@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');

$main-1: #e284b6;
$main-2: #446cb4;
$main-3: #ffd528;
$main-4: #65bc4c;

$extra-1: #63cdf4;
$extra-2: #9072b3;
$extra-3: #ec2026;
$extra-4: #fbaa31;
$extra-5: #db4646; //red
$extra-6: #66c3a2;
$extra-7: #a0d3a2;
$extra-8: #cae9e6;
$extra-9: #925223;
$extra-10: #85a1d3;
$extra-11: #f9f5cf;
$extra-12: #fef2dc;

$headerFont: 'Luckiest Guy', cursive;


